


.singin-form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;

}

.singin-form-item {
    padding-top: 2vh;
}