input { 
    width: 40vw; 
  }

select { 
    width: 40vw; 
    background-color: 
    #333333; color: 
    white; 
    border-radius: 6px;
}

a {
    text-decoration: none;
}



/* --------------------------------- */
/* HEADER STYLES */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    border-bottom: 2px solid black;
    margin-top: 0;
}

.header-container>a {
    color: black;
    text-decoration: none;
}

.icon {
    width: 50px;
}


/* --------------------------------- */
/* FOOTER STYLES */

.footer-container {
    background-color: black;
    height: 100px;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


/* --------------------------------- */
/* SHOP STYLES */

.shop-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.shop-card-container {
    width: 85vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 4vh;
    color: white;
    font-weight: bold;
}

.shop-card-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-radius: 6px;
}

.shop-card-item-photo {
    width: 180px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 6px;
}

.shop-card-item-button {
    width: 160px;
    background-color: white;
    color: black;
    font-weight: bold;
    margin-bottom: 2vh;
    border-radius: 6px;
}

.shop-card-item:hover {
    transform: scale(1.1);
}

.glasses-container {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.glasses-item {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
    background-color: #333333;
    color: white;
    border-radius: 6px;
}

.glasses-item-info {
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px 60px;
    margin-bottom: 5vh;
}

.glasses-info {
    width: 100%;
    margin-top: -2vh;
}

.glasses-item-info>button {
   background-color: white;
   color: black;
}

.glasses-item-img {
    border-radius: 6px;
    width: 30vw;
}

.link{
    text-decoration: none;
    color: white;
}


/* --------------------------------- */
/* SING-IN SING-UP USER-PAGE DIRECTION STYLES */

.singin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20vh;
    margin-top: 2vh;
}

.singin-form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}

.singin-form-title {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.singin-form-item {
    padding-top: 2vh;
}

.direction-container {
    color: black;
    width: 40vw; 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    padding-bottom: 4vh;
}

.direction-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.direction-button {
    width: 15vw;
}
