.slide-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}

.slide-menu ul {
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.slide-menu li {
  margin-bottom: 15px;
  cursor: pointer;
}

.slide-menu a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: #fff; /* Color blanco para los enlaces */
}

.slide-menu.show {
  transform: translateX(0);
}

