.scroll-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px 30px;
    color: white;
    text-align: center;
    margin-left: 0;
}

.scroll-card-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #333333;
    border-radius: 6px;
}

.scroll-card-item-photo {
    width: 180px;
    margin-top: 0;
    margin-bottom: 1vh;
    border-radius: 6px 6px 0 0;
    border: 1px solid #333333;
}

.scroll-card-item-title {
    margin-bottom: 0.7vh;
}

.scroll-card-item-text{
    margin-bottom: 0.7vh;
}

.scroller {
    width: 85vw;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 50s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}