.my-datatable {
    /* Estilos personalizados */
    margin-top: 2em;
    color: #333; /* Color del texto */
    font-family: Arial, sans-serif; /* Tipo de letra */
    width: 70vw;
    /* ... */
}


.columnStyle  {
    text-align: 'center';
}

.card {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5; 

}

.card input{
    width: 10vw;
}

.card td{
    min-width: 5vw;
    width: 10vw;
    border: #333 2px solid;
    text-align: center;
}
.card th{
    width: 10vw;
    border: #333 2px solid;
}

.xsadad{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.xsadad img{
    border-radius: 2px;
    border: #333 1px solid;
}