.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-container-category {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 85vw;
    margin-bottom: 10vh;
}

.home-container-category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    color: white;
    width: 26vw;
    border-radius: 6px;
}

.home-container-category-item-img {
    width: 26vw;
    border-radius: 6px 6px 0 0;
}