.admin-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/* Accordion.css */

.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #333333;
    color: white;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    color: black;
    overflow: hidden;
  }
  
  .active {
    display: block;
  }

  .article-admin-item{
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 40vh;
    border-radius: 6px;
    margin-bottom: 4vh;
  }

  .article-admin-item button{
    margin-bottom: 2vh;
  } 

.card-container {
    width: 85vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 4vh;
    color: white;
    font-weight: bold;
    background-color: #333333;
}
.card-item {
    width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    border-radius: 6px;
}
.card-item-photo {
    width: 180px;
    margin-top: 2vh;
    margin-bottom: 1vh;
    border-radius: 6px;
}
.card-item-button{
    color:black;
    background-color: white;
    width: 180px;
    margin-bottom: 1vh;
}
