
.color-circle.vision {
    background-color: #E8F8F5;
}

.color-circle.sunglasses {
    background-color: #000000c9;
}

.color-circle-text.vision {
    color: #3C3C3C;
}

.color-circle-text.sunglasses {
    color: #000000c9;
}

.color-circle.silver {
    background-color: #B9B8B5;
}

.color-circle.silver {
    background-color: #B9B8B5;
}

.color-circle.black {
    background-color: #222222;
}

.color-circle.red {
    background-color: #680909;
}

.color-circle.pink {
    background-color: #970074;
}

.color-circle.orange {
    background-color: #ff7d00;
}

.color-circle.blue {
    background-color: #0092ff;
}

.color-circle-text.silver {
    color: #B9B8B5;
}

.color-circle-text.black {
    color: #222222;
}

.color-circle-text.red {
    color: #680909;
}

.color-circle-text.pink {
    color: #970074;
}

.color-circle-text.orange {
    color: #ff7d00;
}

.color-circle-text.blue {
    color: #0092ff;
}