.custom-container {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    /* align-items: center; */
}

.custom-camera-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: black;

    width: 50vw;
    height: 80vh;

}

.custom-option-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: gray;
    width: 50vw;
    height: 80vh;
}


.custom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
}

.preview {
    width: 55%;
    height: 70%;
    border: 10px solid #3C3C3C; 
    border-radius: 20px;

}

.a-enter-vr {
    display: none !important;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #3C3C3C;
    border: 10px solid #3C3C3C; 
    color: black;
    width: 28%;
    height: 70%;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.controls-item {
    border-radius: 10px;
    width: 80%;
    height: 25%;
    background-color: white;
    font-weight: bold;
}

.color-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
    border: 3px solid #3C3C3C;
}

.color-circle.black {
    background-color: black;
}

.color-circle.red {
    background-color: red;
}

.color-circle.pink {
    background-color: pink;
}

.color-circle.orange {
    background-color: orange;
}

.color-circle.blue {
    background-color: blue;
}

.submit-button {
    width: 84%;
    height: 10%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;

}















.example-container {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.exit-button {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #3C3C3C;
    color: white;
    border: 0;
    border-radius: 6px;
    width: 7vw;
    height: 7vh;
    font-size: 20px;
}

.exit-button:hover {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 999px) {
    .exit-button {
        top: 88%;
        left: 50%;
        width: 16vw;
        height: 8vh;
    }
}